<div class="dropdown-option" data-value="en">English</div>
<div class="dropdown-option" data-value="zh-CN">Chinese (Simplified)</div>
<div class="dropdown-option" data-value="es">Spanish</div>
<div class="dropdown-option" data-value="fr">French</div>
<div class="dropdown-option" data-value="de">German</div>
<div class="dropdown-option" data-value="ar">Arabic</div>
<div class="dropdown-option" data-value="ru">Russian</div>
<div class="dropdown-option" data-value="pt">Portuguese</div>
<div class="dropdown-option" data-value="ta">Tamil</div>
<div class="dropdown-option" data-value="te">Telugu</div>
<div class="dropdown-option" data-value="kn">Kannada</div>
<div class="dropdown-option" data-value="ml">Malayalam</div>
<div class="dropdown-option" data-value="si">Sinhala</div>
<div class="dropdown-option" data-value="mr">Marathi</div>
<div class="dropdown-option" data-value="gu">Gujarati</div>
<div class="dropdown-option" data-value="or">Odia (Oriya)</div>
<div class="dropdown-option" data-value="pa">Punjabi</div>
<div class="dropdown-option" data-value="bn">Bengali</div>
<div class="dropdown-option" data-value="as">Assamese</div>
<div class="dropdown-option" data-value="ne">Nepali</div>
<div class="dropdown-option" data-value="hi">Hindi</div>
<div class="dropdown-option" data-value="sd">Sindhi</div>
<div class="dropdown-option" data-value="ur">Urdu</div>
<div class="dropdown-option" data-value="ja">Japanese</div>
<div class="dropdown-option" data-value="ko">Korean</div>
<div class="dropdown-option" data-value="vi">Vietnamese</div>
<div class="dropdown-option" data-value="th">Thai</div>
<div class="dropdown-option" data-value="lo">Lao</div>
<div class="dropdown-option" data-value="km">Khmer</div>
<div class="dropdown-option" data-value="my">Burmese</div>
<div class="dropdown-option" data-value="mn">Mongolian</div>
<div class="dropdown-option" data-value="ug">Uyghur</div>
<div class="dropdown-option" data-value="ky">Kyrgyz</div>
<div class="dropdown-option" data-value="kk">Kazakh</div>
<div class="dropdown-option" data-value="uz">Uzbek</div>
<div class="dropdown-option" data-value="tg">Tajik</div>
<div class="dropdown-option" data-value="ps">Pashto</div>
<div class="dropdown-option" data-value="it">Italian</div>
<div class="dropdown-option" data-value="nl">Dutch</div>
<div class="dropdown-option" data-value="pl">Polish</div>
<div class="dropdown-option" data-value="tr">Turkish</div>
<div class="dropdown-option" data-value="uk">Ukrainian</div>
<div class="dropdown-option" data-value="sv">Swedish</div>
<div class="dropdown-option" data-value="fi">Finnish</div>
<div class="dropdown-option" data-value="da">Danish</div>
<div class="dropdown-option" data-value="no">Norwegian</div>
<div class="dropdown-option" data-value="hu">Hungarian</div>
<div class="dropdown-option" data-value="el">Greek</div>
<div class="dropdown-option" data-value="he">Hebrew</div>
<div class="dropdown-option" data-value="fa">Persian</div>
<div class="dropdown-option" data-value="id">Indonesian</div>
<div class="dropdown-option" data-value="ms">Malay</div>
<div class="dropdown-option" data-value="tl">Tagalog</div>
<div class="dropdown-option" data-value="sw">Swahili</div>
<div class="dropdown-option" data-value="xh">Xhosa</div>
<div class="dropdown-option" data-value="zu">Zulu</div>
<div class="dropdown-option" data-value="yo">Yoruba</div>
<div class="dropdown-option" data-value="af">Afrikaans</div>
