<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400</title>
    <style>
        .css-404 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }
        .css-404 img {
            max-width: 90%;
            height: 40%;
        }
    </style>
</head>
<body>
    <div class="css-404">
        <img src="/static/images/400.png" alt="400 Error Image">
    </div>
</body>
</html>
