{% extends 'base.html' %}

{% block title %}Connectly - Register{% endblock %}
{% block description %}Create a new Connectly account to start chatting seamlessly.{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body_class %}auth-page{% endblock %}

{% block content %}
<main class="form-container">
    <p class="title">Register</p>
    <form class="form" method="POST" action="{{ url_for('auth.register') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="input-group">
            <input type="text" name="username" id="username" placeholder=" " required>
            <label for="username">Username</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" placeholder=" " required>
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <select name="language" id="language" class="language-select" required>
                {% include 'partials/language_options.html' %}
            </select>
            <label for="language">Preferred Language</label>
        </div>

        <button class="sign" id="register" type="submit">Register</button>
    </form>
    <p class="signup">Already have an account?
        <a rel="noopener noreferrer" href="{{ url_for('auth.login') }}">Login</a>
    </p>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
